.slider_wrapper {
  position: fixed;
  height: auto;
  width: 80%;
  top: calc(50% + 70px);
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 1021px) {
    width: 90%;
  }

  @media (max-width: 769px) {
    width: 100%;
    padding: 0 40px;
    top: calc(50% + 60px);
  }

  @media (max-width: 321px) {
    padding: 0 20px;
  }

}

.swiper-wrapper {
  padding-bottom: 35px;
  opacity: 1;
}

.swiper-pagination {
  bottom: 5px;
}

.swiper-button-prev {
  left: 0px;
  outline: none;
}

.swiper-button-next {
  right: 0px;
  outline: none;
}

.swiper-slide {
  height: calc(100vh - 300px);
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 769px) {
    height: calc(100vh - 260px);
  }
  
  &_title {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;

    a, a:visited {
      color: black;
    }
  }
  
  &_poster {
    height: calc(100% - 90px);
    min-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    background: url('../img/background.jpg') no-repeat fill;

    img {
      height: 100%;
      width: auto;
      max-width: 100%;
      object-fit: cover;
    }
  }
  
  &_year {
  
  }
  
  &_rating {
  
  }
}

.transitioned {
  transition: opacity 0.3s;
}

.disappearing {
  opacity: 0;
}

.slider_more {
  position: absolute;
  height: 30px;
  width: 50%;
  background: linear-gradient(90deg, #16223a00 0%, #16223ae3 50%, #16223ae3 100%);
  bottom: 80px;
  left: 15%;
  color: white;
  line-height: 30px;
  text-align: center;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
  
  &:hover {
    box-shadow: -25px 0 30px -25px rgba(255, 255, 255, 0.452) inset;  
  }
}

.slider_later {
  height: 30px;
  width: 20%;
  position: absolute;
  background: url(../img/plus.svg) no-repeat 30%, linear-gradient(90deg, #16223ae3 0%, #16223ae3 50%, #16223a00 100%);
  left: 65%;
  bottom: 80px;
  animation: pulse 1s infinite;
  border-left: 1px solid white;
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: 25px 0 30px -25px rgba(255, 255, 255, 0.452) inset;
  }

  &.added {
    background: url(../img/plust.svg) no-repeat 30%, linear-gradient(90deg, #16223ae3 0%, #16223ae3 50%, #16223a00 100%);
  }
}