@import "~normalize.css";
@import "slider.scss";
@import "search.scss";
@import "featured.scss";
@import "info.scss";


@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

.wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1021px) {
    width: 90%;
  }

  @media (max-width: 769px) {
    width: auto;
    margin: 0 30px;
  }

  @media (max-width: 400px) {
    margin: 0 10px;
  }
}


h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1em;
  margin: 20px;
  user-select: none;


  span {
    color: red;
  }

  &::first-letter {
    color: red;
    font-weight: 700;
  }

  @media (max-width: 769px) {
    font-size: 1.7rem;
    margin: 10px;
  }
}

.header {
  background-color: #e4efff;
  border-bottom: 1px solid #ced4da;
  color: #003d55;
  z-index: 40;
  position: relative;

  &_featured-btn {
    align-self: flex-end;
    width: 115px;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 -1px 10px 0px #003d5544, 0 0 1px 1px #003d5544 inset;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-right: 70px;
    padding: 5px;
    user-select: none;

    cursor: pointer;
    animation: swing 10s infinite;

    &:hover {
      animation: none;
      background: #6464640e; 
    }

    @media (max-width: 500px) {
      margin-right: 0px;
    }


    @media (max-width: 769px) {
      font-size: 0.8rem;
      width: 85px;
      margin-bottom: 5px;
      padding: 3px;
    }
  

    &::after {
      content: "";
      height: 1em;
      width: 1em;
      background: url(../img/arrow.svg) no-repeat;
      display: inline-block;
      background-size: 100% 100%;
      margin-left: 5px;
      vertical-align: -15%;    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2em;
  background-color: #e4efff;
  border-top: 1px solid #ced4da;
  color: #16223a;

  @media (max-width: 769px) {
    font-size: 1rem;
  }

  &_rss, &_git {
    text-decoration: none;
    color: #16223a;

    &:visited {
      color: #16223a;
    }
  }

  &_git {
    &::before {
      content: '';
      display: inline-block;
      height: 1.2em;
      width: 1.2em;
      vertical-align: -10%;
      background: center / contain no-repeat url("../img/github-logo.svg");
      margin: 0 5px
    }
  }
}


.menu {
  z-index: 30;
  color: #16223a;

  &__wrapper {
    position: relative;
  }
}